@model ContactList.Models.ViewModels.LoginViewModel

@{
    ViewData["title"] = "Login";

}

@if (TempData["alerta"] != null)
{
    <div class="alert alert-success alert-dismissible fade show text-center mt-3" role="alert">
        @TempData["alerta"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container">
    <div class="row d-flex justify-content-center center-login">
        <div class="col-md-8 border-background">
            <div class="row d-flex justify-content-center">
                <a class="navbar-brand mb-4" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo_ct.png" width="30%" /></a>
            </div>
            <div>
                <form class="login-form" asp-controller="Account" asp-action="Login" method="post" role="form">
                    <h3 class="pb-3"> Login </h3>
                    <div class="form-group">

                        <div>
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                        </div>
                    </div>
                    <span class="text-danger"> @Html.ValidationSummary() </span>
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary btn-custom"> Entrar </button>
                    </div>
                    <div class="float-left mt-2">
                        <span>Não tem uma conta? Cadastre-se clicando <a asp-controller="Account" asp-action="Register">aqui</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>