@model ContactList.Models.ViewModels.LoginViewModel

@{
    ViewData["title"] = "Login";

}

<div class="login-page">
    <div class="form">
        <form class="login-form" asp-controller="Account" asp-action="Login" method="post" role="form">
            <h3 class="pb-5"> Login </h3>
            <div class="form-group">
                
                <div class="col-md-6">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                </div>
            </div>
            <span class="text-danger"> @Html.ValidationSummary() </span>

            <div>
                <button type="submit" class="btn btn-dark ml-3"> Entrar </button> ou clique <a asp-action="Register"> aqui </a> para se cadastrar.
            </div>
        </form>
    </div>
</div>
