@model ContactList.Models.Categoria

@{
    ViewData["Title"] = "Deletar categoria";
}

<h1> @ViewData["Title"] </h1>

<p class="lead">
    Tem certeza de que deseja excluir a categoria?
</p>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaNome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoriaNome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary btn-sm"> voltar </a>
    </form>
</div>
