@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <h1 class="text-white">
        Olá, <strong> @User.Identity.Name </strong>
    </h1>
}


<div class="jumbotron mt-3 border-background">
    <div class="row">
        <div class="col-md-4">

            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="~/images/adicionar-categoria.png" width="50%" height="50%" />
            </div>
            <h4 class="text-center mt-2">Cadastre uma categoria</h4>
            <p class="text-center mt-2">Para começar utilize o menu Categorias para adicionar uma categoria de contatos.</p>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="~/images/adicionar-contato.png" width="50%" height="50%" />
            </div>
            <h4 class="text-center mt-2">Cadastre o seu primeiro contato</h4>
            <p class="text-center mt-2">Use o menu Contatos para gerenciar e adicionar seus contatos.</p>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="~/images/Check.png" width="50%" height="50%" />
            </div>
            <h4 class="text-center mt-2">Pronto para usar</h4>
            <p class="text-center mt-2">E pronto! Agora é com você. Cadastre e gerencie seus contatos de uma forma simples!</p>
        </div>
    </div>
</div>