@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4"> Contact List </h1>
    <p class="lead"> Neste app você pode cadastrar seu contatos e associar eles a categorias cadastradas. </p>
    <hr class="my-4">
    <p> Cadastre algumas categorias e comece a organizar seus contatos.</p>
    <a class="btn btn-primary" href="#" role="button">Leia mais</a>
</div>